<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>shopping1</display-name>
  <!-- 加载运行springioc 容器 -->
     <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
     </listener>
  <!--  加载spring的配置文件-->
     <context-param>
          <param-name>contextConfigLocation</param-name>
          <param-value>classpath:application-context.xml</param-value>
     </context-param>
     <!--字符编码处理器的配置   -->
     
         <filter>
             <filter-name>CharecterEncodingFilter</filter-name>
             <filter-class>cn.tedu.filter.CharecterEncodingFilter</filter-class>
             <init-param>
                  <param-name>character</param-name>
                  <param-value>utf-8</param-value>
             </init-param>
         </filter>
         <filter-mapping>
             <filter-name>CharecterEncodingFilter</filter-name>
             <url-pattern>/*</url-pattern>
         </filter-mapping>
     <!--  配置springmvc servlet  -->
       <servlet>
          <servlet-name>dispather</servlet-name>
          <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
         <load-on-startup>1</load-on-startup>
       </servlet>
       <servlet-mapping>
           <servlet-name>dispather</servlet-name>
           <url-pattern>/</url-pattern>
       </servlet-mapping>
       <!--HiddenHttpMethodFilter   
         springmvc 对 restful风格支持   将 get 或者 post 转为 delete 或者put 请求 
        -->
        <filter>
            <filter-name>HiddenHttpMethodFilter</filter-name>
            <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
        </filter>
        <filter-mapping>
           <filter-name>HiddenHttpMethodFilter</filter-name>
           <url-pattern>/*</url-pattern>
        </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>